#mainBody {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.sameLine {
    display: flex;
    justify-content: space-between;
}

.inline-icon {
    vertical-align: bottom;
}

.fadeIn {
    animation: fadein 3s;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
