<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Community Bank</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
</head>
<body>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script type="text/javascript">
                        M.toast({html: '<span>{{ message }}</span><button class="btn-flat toast-action" style="color: white;" onclick="M.Toast.dismissAll();">X</button>', classes: 'rounded'})
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h3 class="sameLine">
        <a href="#" data-target="slide-out" class="sidenav-trigger" style="margin-left: 5%;">
            <i class="material-icons small">menu</i>
        </a>
        {% if points is not number %}
            <p style="position: relative; right: -3%; margin: 0 auto;">Community Bank</p>
        {% else %}
            <p style="position: relative; left: -3%; margin: 0 auto;">Community Bank</p>
        {% endif %}
        <div style="position: relative; right: 3%; margin-left: 0 0 0 auto">
            {% if points is number %}
                <h5>{{ points }} Points<i class="material-icons inline-icon">account_circle</i></h5> 
            {% else %}
                <h5>Logged out<i class="material-icons inline-icon">account_circle</i></h5> 
            {% endif %}       
        </div>
    </h3>   
    <div id="mainBody">
        <br>
        <h5>Redeemables</h5>
        <ol class="browser-default" style="list-style-position: inside;">
            {% for redeemable in redeemables %}
                <li><a href="/redeemable/{{ redeemable }}">{{ redeemable }} - Costs {{ redeemables[redeemable] }} Points</a></li>
            {% endfor %}
        </ol>
        <ul id="slide-out" class="sidenav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/events">Upcoming Events</a></li>
            <li><a href="/admin_generate">Admin Generate</a></li>
            <li><div class="divider"></div></li>
            <li>Your Points Are: {{ points }}</li>
        </ul>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>
</html>