<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Community Bank</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script type="text/javascript">
                        M.toast({html: '<span>{{ message }}</span><button class="btn-flat toast-action" style="color: white;" onclick="M.Toast.dismissAll();">X</button>', classes: 'rounded'})
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="sameLine">
        <a data-target="slide-out" class="sidenav-trigger" style="margin-left: 5%; color: black;">
            <br>
            <i style="cursor: pointer;" class="material-icons small">menu</i>
        </a>
        {% if points is not number %}
            <h3 style="margin: 0 auto;">Community Bank</h3>
        {% else %}
            <h3 style="margin: 0 auto;">Community Bank</h3>
        {% endif %}
        <div style="position: relative; right: 3%; margin-left: 0 0 0 auto">
            {% if points is number %}
                <div style="line-height: 5%;">
                    <p><i class="material-icons inline-icon">account_circle</i></p>
                    <p style="position: relative; left: -25%;">{{ points }} Points</p>
                </div> 
            {% else %}
                <div style="line-height: 5%;">
                    <p><i class="material-icons inline-icon">account_circle</i></p>
                    <p style="position: relative; left: -25%;">Sign in</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="mainBody">
        <br>
        <h5>Redeemables</h5>
        <ol class="browser-default" style="list-style-position: inside;">
            {% for redeemable in redeemables %}
                <li><a href="/redeemable/{{ redeemable }}">{{ redeemable }} - Costs {{ redeemables[redeemable] }} Points</a></li>
            {% endfor %}
        </ol>
        <ul id="slide-out" class="sidenav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/events">Upcoming Events</a></li>
            <li><a href="/redeemables">Redeemables</a></li>
        </ul>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>
</html>